<div class="container">    
    <h1> order-list </h1>  
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>ID</th>  
            <th>User</th>  
            <th>ProductID</th>  
            <th>Date</th>   
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let order of orderList">  
          <td>{{ order.id }}</td>  
          <td>{{ order.user }}</td>  
          <td>{{ order.productID }}</td>  
          <td>{{ order.date }}</td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  
